@import "tailwindcss";

body, html {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(39, 14, 56);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.671), rgba(76, 0, 130, 0.589));
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, blue, indigo);
}